---
layout: default
permalink: /art/
title: Studio Art
weight: 1
---

<!-- <h1>Studio Art</h1> -->

Yo, I'd done some art stuff. I even (sort of) have a degree in it. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

<!-- hidden video div -->


<div id="art-gallery" class="art-grid">
    {% for piece in site.data.art %}
    {% if piece.gif %}
        <a href="{{ "/img/art/" | append: piece.gif | relative_url }}" data-sub-html=".caption">
    {% else %}
        <a href="{{ "/img/art/" | append: piece.image | relative_url }}" data-sub-html=".caption">
    {% endif %}
        <span class="preview-image" style="background-image: url('{{ "/img/art/" | append: piece.image | relative_url }}')"></span>
        <div class="caption">
            <h4>{{ piece.title }}</h4> <p>{{ piece.medium }}, {{ piece.year }}</p>
        </div>
    </a>
    {% endfor %}
</div>

<script>
    lightGallery(document.getElementById('art-gallery'), {
        subHtmlSelectorRelative: true,
        download: false,
        hideBarsDelay: 500
    }); 
</script>