---
layout: default
permalink: /graphic_design/
title: Graphic Design
weight: 2
---

<h1>Graphic Design</h1>

Yo, I'd done some graphic design. All of these are commissions. I charge $15/hour. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.


<h2>Logos</h2>

<div id="art-gallery-1" class="graphics-grid">
    {% for piece in site.data.graphic_design_logos %}
    {% if piece.gif %}
        <a href="{{ "/img/graphic_design/" | append: piece.gif | relative_url }}" data-sub-html=".caption">
    {% else %}
        <a href="{{ "/img/graphic_design/" | append: piece.image | relative_url }}" data-sub-html=".caption">
    {% endif %}
        {% if piece.thumb %}
            <span class="preview-image" style="background-image: url('{{ "/img/graphic_design/" | append: piece.thumb | relative_url }}')"></span>
        {% else %}
            <span class="preview-image" style="background-image: url('{{ "/img/graphic_design/" | append: piece.image | relative_url }}')"></span>
        {% endif %}
        <div class="caption">
            <h4>{{ piece.title }}</h4> 
            <p>
                Commisioned by: {{ piece.commisioner }}
            </p><p>
                <!-- {% if piece.link %} <a href="{{ piece.link }}"> {{ piece.commisioner }} </a> 
                {% else %} {{ piece.commisioner }}
                {% endif %}: -->
                {{ piece.explanation }}
            </p>
        </div>
    </a>
    {% endfor %}
</div>


<h2>Figures</h2>

<div id="art-gallery-2" class="graphics-grid">
    {% for piece in site.data.graphic_design_paperfigs %}
    {% if piece.gif %}
        <a href="{{ "/img/graphic_design/" | append: piece.gif | relative_url }}" data-sub-html=".caption">
    {% else %}
        <a href="{{ "/img/graphic_design/" | append: piece.image | relative_url }}" data-sub-html=".caption">
    {% endif %}
    
        {% if piece.thumb %}
            <span class="preview-image" style="background-image: url('{{ "/img/graphic_design/" | append: piece.thumb | relative_url }}')"></span>
        {% else %}
            <span class="preview-image" style="background-image: url('{{ "/img/graphic_design/" | append: piece.image | relative_url }}')"></span>
        {% endif %}
        <div class="caption">
            <h4>{{ piece.title }}</h4> 
            <p>
                Commisioned by: {{ piece.commisioner }}
            </p><p>
                <!-- {% if piece.link %} <a href="{{ piece.link }}"> {{ piece.commisioner }} </a> 
                {% else %} {{ piece.commisioner }}
                {% endif %}: -->
                {{ piece.explanation }}
            </p>
        </div>
    </a>
    {% endfor %}
</div>

<script>
    lightGallery(document.getElementById('art-gallery-1'), {
        subHtmlSelectorRelative: true,
        download: false
    }); 
    lightGallery(document.getElementById('art-gallery-2'), {
        subHtmlSelectorRelative: true,
        download: false
    }); 
</script>