<header>
    <div class="title">
        <a href="{{ site.baseurl }}/">
            <h1> Lilian de Greef </h1>
            <img src="/img/sig.png" />
        </a>
        <hr>
    </div>


    <!-- <nav class="container">
            {% for my_page in pages %}
            {% if my_page.title %}
                {% assign current = nil %}
                {% if my_page.url == page.url %}
                    {% assign current = 'active' %}
                {% endif %}
                <a class="current" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>
            {% endif %}
        {% endfor %}
    </nav> -->

    <div class="wrapper">

        <!-- <nav class="navbar navbar-default navbar-static-top"> -->
        <nav class="container">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        {% assign pages = site.pages | sort:"weight"  %}
                        {% for my_page in pages %}
                            {% if my_page.title %}
                                {% assign current = nil %}
                                {% if my_page.url == page.url %}
                                    {% assign current = 'active' %}
                                {% endif %}
                                <li class="{{current}}"><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                            {% endif %}
                        {% endfor %}
                        <li>
                        <!-- <a class="page-link" href="{{ "/pdfs/Lilian_CV_2019_spring.pdf" | prepend: site.baseurl }}">CV</a></li> -->
                    </ul>
                </div><!-- /.navbar-collapse -->
            </div> <!-- /.container-fluid -->
        </nav>


    </div>

    <hr>

</header>
