.art-grid {
    padding-top: 10px;
    padding-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-column-gap: 5px;
    grid-row-gap: 5px;

    &>a {
        position: relative;
        display: flex;
        flex-direction: column;

        // Version using pre-cropped thumbnails.
        img {
            width: 100%;
            vertical-align: middle;
            border-radius: 5px;
        }

        .caption {
          display: none;
        }
    }

    .preview-image {
        display: block;
        width: 100%;
        height: 0;
        padding-top: 100%;

        background-size: cover;
        background-position: top left;

        transition: background 1.5s;

        &:hover {
          transform: scale(1.008);
          background-position: bottom right;
          box-shadow: #aaa 2px 2px 11px;
        }
      }

}

.art-about {
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .art-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .art-grid {
    grid-template-columns: 1fr 1fr;
  }
}

@include media-query($on-palm) {
  .art-grid {
    grid-template-columns: 1fr;
  }
}


.graphics-grid {
  padding-top: 50px;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 75px;
  grid-row-gap: 75px;

  &>a {
      position: relative;
      display: flex;
      flex-direction: column;

      // Version using pre-cropped thumbnails.
      img {
          width: 100%;
          vertical-align: middle;
          border-radius: 5px;
      }

      .caption {
        display: none;
      }
  }

  .preview-image {
      display: block;
      width: 100%;
      height: 0;
      padding-top: 100%;

      background-size: cover;
      background-position: top left;

      transition: background 1.5s;

      &:hover {
        transform: scale(1.008);
        background-position: bottom right;
        box-shadow: #aaa 2px 2px 11px;
      }
    }

}

.lg-sub-html {
  max-width: 750px;
  margin: auto;

  h4 {
    text-align: left;
  }
  p {
    text-align: left;
  }
}

@media (max-width: 1200px) {
.graphics-grid {
  grid-template-columns: 1fr 1fr 1fr;
}
}

@media (max-width: 700px) {
.graphics-grid {
  grid-template-columns: 1fr 1fr;
}
}

@include media-query($on-palm) {
.graphics-grid {
  grid-template-columns: 1fr;
}
}