.bio {
    font-size: 14pt;
}

.edu {
    font-size: 12pt;
    margin-top: 20px;
}

.portrait {
    max-width: 500px;
}
.username {
    margin-left: 10px;
}

.social-media-list a {
    height: 30px;
    line-height: 30px;
    display: block;
}
.social-media-list .svg-icon {
    vertical-align: middle;
      width: 25px;
      height: 25px;
}