/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    //border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

nav {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    line-height: 36px;
    justify-content: space-between;
    margin-bottom: 20px;
  
    a {
      color: #333;
      padding: 12px 0.3em 0 0.3em;
      margin: 0 0.3em;
      display: inline-block;
      text-decoration: none;
      font-weight: $bold-font-weight;
      font-size: 24px;
  
      opacity: 0.75;
      border-bottom: 1px solid transparent;
  
      transition: opacity 0.25s ease-in-out, border 0.25s ease-in-out;
  
      &:visited {
        color: #333;
      }
      
      &.active {
        border-bottom-color: #333;
        opacity: 1;
      }
      &:hover {
        text-decoration: none;
  
        opacity: 1;
        border-bottom-color: #333;
  
        transition: opacity 0.25s ease-in-out, border 0.25s ease-in-out;
      }
    }

  }
  
  @include media-query($on-laptop) {
    nav {
      line-height: 42px;
  
      a {
        padding: 0 9px;
      }
  
    }
  }
  
  @include media-query($on-palm) {
  
    nav {
      justify-content: space-around;
  
      .external {
        flex: 0 1 100%;
        justify-content: space-around;
      }

      // hide icons from internal links
      & > a .fas {
        display: none;
      }
  
      a {
        border-radius: 3px;
  
        &:hover {
          border-color: transparent;
          background: lighten($brand-color, 55%);
        }
  
        &.active {
          border-color: transparent;
          background: lighten($brand-color, 50%);
          border-radius: 3px;
        }
      }
    }
  }
  

/**
 * Site footer
 */

footer {
    width: 100%;
    padding: 1.4em 0 0 0;
    position: absolute;
    height: 85px;
    bottom: 0;
    border-top: 1px solid $grey-color-light;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
}


/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    padding-bottom: 0.1em;
    border-bottom: 1px solid #eee;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;
        padding-bottom: 0.1em;
        border-bottom: 1px solid #eee;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;
        padding-bottom: 0.1em;
        border-bottom: 1px solid #eee;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}
