.citation {
  padding: 10px;
  h4 {
    margin-top: 0px;
    margin-bottom: 5px;
  }
  display: block;
  small {
    p {
    line-height: 1.2;
    }
  }
}

code {
  font-size: 12px;
  color: $darkGray;
  background-color: white;
}

.publication-badge {
  margin-top: 20px;
  margin-bottom: 5px;
  
  font-size: 15px;
  .publication-pic {
    max-width: 300px;
    a {
      display: block;
      position: relative;
    }
    img {
      width: 100%;
      vertical-align: middle;
      top: 0px;
      left: 0px;
      border-radius: 5px;
    }
  }
    
.authors {
    color: $grey-color;
    font-size: 90%;
    a {
//      color: $darkGray;
      color: $grey-color;
      text-decoration: underline;
      }
  }
  h4 {
    margin-top: 0px;
    margin-bottom: 2px;
    font-size: 18px;
    font-family: $avenirHeavy;
  }
  
  .btn {
    //width: 70px;
    //margin-top: 5px;
    //text-align:left;
  }
  
  .award {
    color: #c70000;
    font-family: $avenirHeavy;
  }
}

.publication {
  h1 {
    margin-bottom: 0px;
  }
  
  .materials {
    margin-bottom: 10px;
  }
  .author_list {
    margin-bottom: 10px;
    display: block;
  }
  .image-holder {
    max-height: 300px;
    img {
      max-height: inherit;
    }
  }
  .video-holder {
  }
}
h2 {
  margin-bottom: 0; 
  padding-bottom: 0;
  line-height: 1.2;
}

p {
  margin-top: 0; padding-top: 0;
}

code {
  white-space: pre-wrap;
  word-break: normal;
  word-wrap: normal;
}