.pub {
    margin: 10px;
    min-height: 130px;
    font-size: 10pt;
    position: relative;
    border-color: #d6d6d6;
    border-width: thin;

}

.pub img {
    width:150px;
    border-radius: 10px;
}

.pub .title {
    color: rgb(190, 30, 45 );
    font-size: 12pt;
}
.pub .authors {
}


.pub .venue {
    color: rgb(196, 196, 196);
}

.pub .note {
}

.pub .award {
    color: #3592e3;
    font-weight: bold;
    text-transform: uppercase;
}
.pub .minor {
    color: #3592e3;
}

.pub .links {
    
}