.pub {
    margin: 10px;
    min-height: 130px;
    font-size: 10pt;
    position: relative;
    border-color: #d6d6d6;
    border-width: thin;

    img {
      width: 150px;
      border-radius: 10px;
    }

    .title {
      color: rgb(185, 0, 0);
      font-size: 12pt;
    }

    .authors {}

    .venue {
      color: rgb(196, 196, 196);
    }

    .note {}

    .award {
      color: #3592e3;
      font-weight: bold;
      text-transform: uppercase;
    }

    .minor {
      color: #3592e3;
    }
    
    .links {}
  }